
 
form{
  text-align: center
}

.header{
  color: rgb(130, 198, 238);
  text-align: center;
  font-size: 70px;
}

.fieldInfo{
  color:beige;
  font-size: 40px
}

.status{
  color: beige;
  text-align: center;
  font-size: 40px;
  font-family: cursive;
}

.buttonLogin {
  border: 0px solid darkolivegreen;
  background-color: Transparent;
  transition-duration: 0.4s;
  color: beige;
  padding: 14px 28px;
  font-size: 24px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  outline:none;
}

.buttonLogin:hover {
  color: teal;
}
h2{
  text-align: center;
  color: blanchedalmond;
}

nav ul{
  overflow:hidden; 
  overflow-y:hidden;
  align-self: center;
  align-items: center; 
  text-align: center;
  font-size: 30px;
  list-style-type: none;
  color: beige;
}

.error {
  color: red;
  background: lightgrey;
  font-size: 20px;
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center
}  

.roomButtons{
  border: 0px solid;
  background-color: Transparent;
  transition-duration: 0.4s;
  color: beige;
  padding: 14px 28px;
  font-size: 24px;
  cursor: pointer;
  margin: auto;
  outline:none;
}

.roomButtons:hover{
  color:teal
}

#logout{
    position: relative;
    bottom: 5%;
}

.lobby{
  text-align: center;
}

.lobby h2{
  font-size: 35px;
}
.form-inline {  
  flex-flow: row wrap;
  align-items: center;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: transparent;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  
  background-color: transparent;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}

.form-inline button:hover {
  transition-duration: 0.4s;
  color: teal;
}

.form-inline input{
  color: beige;
}

.rooms{
  text-align: center;
}

.messages{
  list-style-type: none;
}


.messages small{
  color: blanchedalmond;
}

.message li{
  list-style-type: none;
  font-size: 20px;
  color: white;
}

.messages .messageUser{
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  color: blanchedalmond
}

.exitRoomButton {
  border: 0px solid;
  background-color: Transparent;
  color: beige;
  justify-content: center;
  padding: 14px 28px;
  font-size: 24px;
  cursor: pointer;
  margin: auto;
  outline:none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.exitRoomButton:hover {
  transition-duration: 0.4s;
  color:teal
}

.messageField{
  position: relative;
  width: 100%;
  resize: none;
}

body{
  background-image: url("bg.png")
} 